<!DOCTYPE HTML>
<head>
  <link href="/styles/index.css" rel="stylesheet" type="text/css" media="screen">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <div class="top-div">
    <a href = '/display'>Daftar Wishlist Saya</a>
    <form action="/scrape-lazada" method="post">
      <input type="submit" value="Scrape Lazada Now">
    </form>
    <form action="/scrape-elevenia" method="post">
      <input type="submit" value="Scrape Elevenia Now">
    </form>
  <br>
  <br>
  Saya mau Add Barang saya sendiri
  <form action="/add-barang" method="post">
    Nama Barang <input type="text" name="nama_barang"><br>
    Harga Barang <input type="text" name="harga_barang"><br>
    Nama Vendor <input type="text" name="vendor_name"><br>
    <input type="submit">
  </form>
  <br>
  <br>
  Saya mau delete barang
  <form action="/delete-barang" method="post">
    ID Barang <input type="text" name="id"><br>
    <input type="submit">
  </form>
</div>
</body>
</html>
