<!DOCTYPE HTML>
<head>
</head>
<body>
  <a href = '/display'>Display Barang</a>
  <form action="/scrape-lazada" method="post">
    <input type="submit" value="Scrape Lazada Now">
  </form>
  <form action="/scrape-elevenia" method="post">
    <input type="submit" value="Scrape Elevenia Now">
  </form>
  <br>
  <br>
  Saya mau Add Barang saya sendiri
  <form action="/add-barang" method="post">
    Nama Barang <input type="text" name="nama_barang"><br>
    Harga Barang <input type="text" name="harga_barang"><br>
    Nama Vendor <input type="text" name="vendor_name"><br>
    <input type="submit">
  </form>
  <br>
  <br>
  Saya mau delete barang
  <form action="/delete-barang" method="post">
    ID Barang <input type="text" name="id"><br>
    <input type="submit">
  </form>
</body>
</html>
