<div class="jumbotron">
  <div class="container">
    <h1>SHOPPING HELPER ENGINE</h1>
    <p>Intinya ini bakal jadi aplikasi yang luar biasa nantinya^^</p>
    <a href="/datas" class="btn btn-lg btn-danger">Start Now</a>
  </div>
</div>
